/* 웹 폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    margin: 0; /*바깥쪽 여백*/
    padding: 0; /*안쪽 여백*/
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    background-color: aliceblue;
}

/* header 영역 스타일 */
h1 {
    font-weight: bolder;
    margin: 0 auto;
}

/* 클래스 선택자 */
.header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
/* 일치 선택자 */
p#h-greeting {
    color: darkgray;/*글자색*/
    margin-bottom: 20px;
}
/* 자식 선택자 */
.header>.nav {
    background-color:#333;
}
/* 후손 선택자 */
.header .menu {
    width: 1000px;
    margin: 0 auto;
}
/* 목록을 사용한 메뉴 스타일 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
li {
    float: left;
}
li a, .dbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .drop:hover {
    background-color: red;
}
li.drop {
    display: inline-block;
}
.dcont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop:hover .dcont{
    display: block;
}
.dcont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dcont a:hover {
    background-color: #969696;
}
.menu::after {
    content: "";
    display: block;
    clear: both;
}

/* section s_box1 스타일 */
.section {
    background-color: white;
    width: 1020px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.section>div#s_box1 {
    width: 1000px;
    height: 450px;
    margin-bottom: 50px;
}
div#s_box1>div {
    float: left;
}
div#s_box1>div.slider {
    box-sizing: border-box;
    margin-right: 10px;
    background-color: gray;
}
div#s_box1>div.t_banner1, div#s_box1>div.t_banner2 {
    width: 250px;
    box-sizing: border-box;
}
div.t_banner1 {
    height: 280px;
    position: relative;
    background-image: url("../images/my1.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: #999;
}
.t_banner1>h2 {
    color: white;
    text-shadow: 1px 2px black;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.t_banner2 {
    height: 170px;
    padding: 5px;
}
.t_banner2>b {
    line-height: 45px;
}

/* section의 s_box2 스타일 설정 */
.section>div#s_box2 {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    width: 220px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
}
.item>img {
    width: 100%;
}

/* footer 스타일 */
.footer {
    background-color: black;
    color: whitesmoke;
    height: 200px;
}
.f-wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080;
    font-size: 20px;
    text-decoration: none;
}
.footer p {
    margin-top: 0;
    margin-bottom: 0;
}
.footer p span {
    display: inline-block;
    margin-left: 20px;
    line-height: 1.6em;
}